meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")

base(href="/")

title BNPNE 

meta(name="description" content="FRONT-END DEVELOPER — SAN DIEGO, CALIF.")

link(rel="apple-touch-icon" sizes="180x180" href="shared/apple-touch-icon.png")
link(rel="icon" type="image/png" sizes="32x32" href="shared/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href="shared/favicon-16x16.png")
link(rel="manifest" href="shared/site.webmanifest")
meta(name="theme-color" content="#fff")

meta(property="og:url" content="https://bnpne.co/")
meta(property="og:title" content="BNPNE")
meta(property="og:image" content="https://bnpne.co/rect.png")
meta(property="og:description" content="FRONT-END DEVELOPER — SAN DIEGO, CALIF.")

meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="@bnpneth")
meta(name="twitter:title" content="BNPNE")
meta(name="twitter:description" content="FRONT-END DEVELOPER — SAN DIEGO, CALIF.")
meta(name="twitter:image:src" content="https://bnpne.co/rect.png")

link(rel="preload" as="font" href="PPNeueMontreal-Medium.woff2" type="font/woff2" crossorigin="anonymous")
link(rel="preload" as="font" href="PPNeueMontreal-Bold.woff2" type="font/woff2" crossorigin="anonymous")

style.
  html {
    font-size: calc(100vw / 1920 * 10);
  }

  @media (max-width: 767px) {
    html {
      font-size: calc(100vw / 375 * 10);
    }
  }

