doctype html
html(lang="en" style="background: #F2F4F3")
  head
    include ./partials/head

  body
    //- include ./partials/navigation

    include ./partials/home

    include ./partials/noscript
