$color-eerie-black: #0a0908;
$color-light-gray: #f2f4f3;

$font-ampersand: "Ampersand", sans-serif;
$font-neue-montreal: "Neue Montreal", sans-serif;
$font-neue-montreal-bold: "Neue Montreal Bold", sans-serif;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: ("intro", "noscript", "navigation", "content", "canvas");
